.divMale{
    width: 18vw;
    height: 100%;
    background-color: rgb(235, 12, 179);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 5rem 0;
    position: relative;
    border-radius: 0.4rem;
    margin: 0.5rem;
}

.divFemale{
    width: 18vw;
    height: 100%;
    background-color: rgb(17, 99, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 5rem 0;
    position: relative;
    border-radius: 0.4rem;
    margin: 0.5rem;
}

.nameStyle{
    font-size: 0.8em;
    position: absolute;
    bottom: 10vh;
    left: 1vw;
    background-color: rgb(230, 233, 57);
    width: 10wh;
}

.imageStyle{
    width: 100%;
}

.btn{
    background-color: rgb(243, 52, 52);
    color: black;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    width: 1.5vw;
    height: 3vh;
    cursor: pointer;
}

.data{
    display: flex;
    width: 100%;
    justify-content: space-around;
}